In [47]:
import os
storage_path = os.path.realpath(os.path.join(os.path.dirname(os.path.abspath('')),'storage'))
storage_path

'/home/pp/programs/magisterka/storage'

In [48]:
from dotenv import load_dotenv
load_dotenv()

True

In [49]:
import pandas as pd

In [50]:
dfs = []

for dir in os.listdir(storage_path):
    if dir not in ["18cd3f76926b", "9a264c1b205c"]:
        continue
    node_trust_full_history_path = os.path.join(storage_path, dir, 'storage', 'node_trust_full_history')
    df = pd.read_csv(node_trust_full_history_path, names=['node', 'time', 'type', 'change', 'additionalData', 'timestamp'])
    df['onNode'] = dir
    dfs.append(df)
    #dfs.append(pd.read_csv(node_trust_full_history_path, header=['node', 'time', 'type', 'change', 'additionalData']))

In [51]:
dfs[0].head()

,node,time,type,change,additionalData,timestamp,onNode
0,fc045c8d8e1049678ef5f8eac64db97e,1.733944e+09,2,2,b81ee7b9a7394b96af38552d188432cb,1.733944e+09,18cd3f76926b
1,c0ede0a347044f0981fa614fd021bf21,1.733944e+09,2,2,3f9c28ee2277425f96573e406829fa9d,1.733944e+09,18cd3f76926b
2,9346ecf17ffa4e808f8a8fda73768a82,1.733944e+09,1,1,b81ee7b9a7394b96af38552d188432cb,1.733944e+09,18cd3f76926b
3,fc045c8d8e1049678ef5f8eac64db97e,1.733944e+09,1,1,b81ee7b9a7394b96af38552d188432cb,1.733944e+09,18cd3f76926b
4,fc045c8d8e1049678ef5f8eac64db97e,1.733944e+09,1,1,3f9c28ee2277425f96573e406829fa9d,1.733944e+09,18cd3f76926b

In [52]:
dfs[1].head()

,node,time,type,change,additionalData,timestamp,onNode
0,fc045c8d8e1049678ef5f8eac64db97e,1.733944e+09,2,2,b81ee7b9a7394b96af38552d188432cb,1.733944e+09,9a264c1b205c
1,c0ede0a347044f0981fa614fd021bf21,1.733944e+09,2,2,3f9c28ee2277425f96573e406829fa9d,1.733944e+09,9a264c1b205c
2,9346ecf17ffa4e808f8a8fda73768a82,1.733944e+09,1,1,b81ee7b9a7394b96af38552d188432cb,1.733944e+09,9a264c1b205c
3,fc045c8d8e1049678ef5f8eac64db97e,1.733944e+09,1,1,b81ee7b9a7394b96af38552d188432cb,1.733944e+09,9a264c1b205c
4,fc045c8d8e1049678ef5f8eac64db97e,1.733944e+09,1,1,3f9c28ee2277425f96573e406829fa9d,1.733944e+09,9a264c1b205c

In [53]:
dfs[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   node            284 non-null    object
 1   time            284 non-null    float64
 2   type            284 non-null    int64
 3   change          284 non-null    int64
 4   additionalData  284 non-null    object
 5   timestamp       284 non-null    float64
 6   onNode          284 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 15.7+ KB

In [64]:
dfs[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   node            218 non-null    object
 1   time            218 non-null    float64
 2   type            218 non-null    int64
 3   change          218 non-null    int64
 4   additionalData  218 non-null    object
 5   timestamp       218 non-null    float64
 6   onNode          218 non-null    object
 7   compacted       218 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 13.8+ KB

In [54]:
map = {
    '02607c0d99fc': '120e05f702ba4a26b43047324c341939',
    '20cca97ec98e': 'd8e9c6225785448eb147cd94b62c578e',
    '3a82a21d1bd4': '20e712e469fe4359a2ceb01f9982ecb1',
    '3c7ecdb6d154': '2e625ebf5bc9446c8cba3881a076dbc4',
    '493e3d6c8adb': '65344202646e4187ab07c7b69e4b9292',
    'c02d96d54701': 'd8addb074c1f40f78f40d936f0e758bc',
    'e3db09078659': 'd9ddcfcc3fbe4edf827e1ba3da5797a3'
}

In [55]:
map = {v: k for k, v in map.items()}
map

{'120e05f702ba4a26b43047324c341939': '02607c0d99fc',
 'd8e9c6225785448eb147cd94b62c578e': '20cca97ec98e',
 '20e712e469fe4359a2ceb01f9982ecb1': '3a82a21d1bd4',
 '2e625ebf5bc9446c8cba3881a076dbc4': '3c7ecdb6d154',
 '65344202646e4187ab07c7b69e4b9292': '493e3d6c8adb',
 'd8addb074c1f40f78f40d936f0e758bc': 'c02d96d54701',
 'd9ddcfcc3fbe4edf827e1ba3da5797a3': 'e3db09078659'}

In [56]:
for df in dfs:
    df['node'] = df['node'].map(lambda x: map.get(x, x))
    df['compacted'] = df['node'] + '__' + df['type'].astype(str) + '__' + df['change'].astype(str) + '__' + df['additionalData'].astype(str) #df['time'].astype(str) +

In [57]:
dfs[0].head()

,node,time,type,change,additionalData,timestamp,onNode,compacted
0,fc045c8d8e1049678ef5f8eac64db97e,1.733944e+09,2,2,b81ee7b9a7394b96af38552d188432cb,1.733944e+09,18cd3f76926b,fc045c8d8e1049678ef5f8eac64db97e__2__2__b81ee7...
1,c0ede0a347044f0981fa614fd021bf21,1.733944e+09,2,2,3f9c28ee2277425f96573e406829fa9d,1.733944e+09,18cd3f76926b,c0ede0a347044f0981fa614fd021bf21__2__2__3f9c28...
2,9346ecf17ffa4e808f8a8fda73768a82,1.733944e+09,1,1,b81ee7b9a7394b96af38552d188432cb,1.733944e+09,18cd3f76926b,9346ecf17ffa4e808f8a8fda73768a82__1__1__b81ee7...
3,fc045c8d8e1049678ef5f8eac64db97e,1.733944e+09,1,1,b81ee7b9a7394b96af38552d188432cb,1.733944e+09,18cd3f76926b,fc045c8d8e1049678ef5f8eac64db97e__1__1__b81ee7...
4,fc045c8d8e1049678ef5f8eac64db97e,1.733944e+09,1,1,3f9c28ee2277425f96573e406829fa9d,1.733944e+09,18cd3f76926b,fc045c8d8e1049678ef5f8eac64db97e__1__1__3f9c28...

In [58]:
dfs[1].head()

,node,time,type,change,additionalData,timestamp,onNode,compacted
0,fc045c8d8e1049678ef5f8eac64db97e,1.733944e+09,2,2,b81ee7b9a7394b96af38552d188432cb,1.733944e+09,9a264c1b205c,fc045c8d8e1049678ef5f8eac64db97e__2__2__b81ee7...
1,c0ede0a347044f0981fa614fd021bf21,1.733944e+09,2,2,3f9c28ee2277425f96573e406829fa9d,1.733944e+09,9a264c1b205c,c0ede0a347044f0981fa614fd021bf21__2__2__3f9c28...
2,9346ecf17ffa4e808f8a8fda73768a82,1.733944e+09,1,1,b81ee7b9a7394b96af38552d188432cb,1.733944e+09,9a264c1b205c,9346ecf17ffa4e808f8a8fda73768a82__1__1__b81ee7...
3,fc045c8d8e1049678ef5f8eac64db97e,1.733944e+09,1,1,b81ee7b9a7394b96af38552d188432cb,1.733944e+09,9a264c1b205c,fc045c8d8e1049678ef5f8eac64db97e__1__1__b81ee7...
4,fc045c8d8e1049678ef5f8eac64db97e,1.733944e+09,1,1,3f9c28ee2277425f96573e406829fa9d,1.733944e+09,9a264c1b205c,fc045c8d8e1049678ef5f8eac64db97e__1__1__3f9c28...

In [59]:
dfs[0]['compacted'].value_counts()

compacted
9346ecf17ffa4e808f8a8fda73768a82__1__1__d1f8ba39e16c4015ac393c935f35c112    2
fc045c8d8e1049678ef5f8eac64db97e__1__1__ecb9f560726c4597a2bc1e770185ca27    2
fc045c8d8e1049678ef5f8eac64db97e__1__1__9620e25579cb4a03a6bc1c0a7738d0df    2
9346ecf17ffa4e808f8a8fda73768a82__1__1__9620e25579cb4a03a6bc1c0a7738d0df    2
fc045c8d8e1049678ef5f8eac64db97e__1__1__b230b622bc8f4ad086e17bb79e02f078    2
                                                                           ..
fc045c8d8e1049678ef5f8eac64db97e__1__1__300ed61bf2544f95b4d8acafa844efca    1
30b0c572063d473e96f4bd076b4ef083__2__2__83b0af58fc944d6282f45954672fce88    1
9346ecf17ffa4e808f8a8fda73768a82__1__1__83b0af58fc944d6282f45954672fce88    1
fc045c8d8e1049678ef5f8eac64db97e__1__1__83b0af58fc944d6282f45954672fce88    1
9346ecf17ffa4e808f8a8fda73768a82__1__1__d080c8f2b39b434d87ea4ca8b3c4eb5b    1
Name: count, Length: 218, dtype: int64

In [60]:
dfs[1]['compacted'].value_counts()

compacted
fc045c8d8e1049678ef5f8eac64db97e__2__2__b81ee7b9a7394b96af38552d188432cb    1
fc045c8d8e1049678ef5f8eac64db97e__1__1__ae43beed909449aa8e862e4ec2ce8754    1
d0c14d301b024be4b6575dccf4132cbe__2__2__9681d0f68cd749598fc990381c0928de    1
df330bc15eec418ca9cc9ce9817492cf__2__2__02b5278dc8f4487b83f4a282fc9df48d    1
fc045c8d8e1049678ef5f8eac64db97e__1__1__9681d0f68cd749598fc990381c0928de    1
                                                                           ..
c0ede0a347044f0981fa614fd021bf21__2__2__0a9e59067f8d4df989f8ca70d8d36f02    1
9346ecf17ffa4e808f8a8fda73768a82__1__1__d7fe9420c30b448f9d2fc4d5d31d3a81    1
fc045c8d8e1049678ef5f8eac64db97e__1__1__d7fe9420c30b448f9d2fc4d5d31d3a81    1
9346ecf17ffa4e808f8a8fda73768a82__1__1__0a9e59067f8d4df989f8ca70d8d36f02    1
9346ecf17ffa4e808f8a8fda73768a82__1__1__d1f8ba39e16c4015ac393c935f35c112    1
Name: count, Length: 218, dtype: int64

In [61]:
set(dfs[0]['compacted']).difference(set(dfs[1]['compacted']))

set()

In [ ]:
set(dfs[1]['compacted']).difference(set(dfs[0]['compacted']))

In [63]:
len(set(dfs[1]['compacted']).difference(set(dfs[0]['compacted'])))

0

In [70]:
len(dfs[0]['compacted'].unique())

218

In [68]:
len(dfs[1]['compacted'].unique())

218