In [2]:
import os
storage_path = os.path.realpath(os.path.join(os.path.dirname(os.path.abspath('')),'storage'))
storage_path

'/home/pp/programs/magisterka/storage'

In [3]:
from dotenv import load_dotenv
load_dotenv()

True

In [4]:
import pandas as pd

In [23]:
dfs = []

for dir in os.listdir(storage_path):
    node_trust_full_history_path = os.path.join(storage_path, dir, 'storage', 'node_trust_full_history')
    df = pd.read_csv(node_trust_full_history_path, names=['node', 'time', 'type', 'change', 'additionalData', 'timestamp'])
    df['onNode'] = dir
    dfs.append(df)
    #dfs.append(pd.read_csv(node_trust_full_history_path, header=['node', 'time', 'type', 'change', 'additionalData']))

In [24]:
dfs[0].head()

,node,time,type,change,additionalData,timestamp,onNode
0,b32386a5f44840ce991e8c395c960874,1.733775e+09,2,2,171de2281f8346539a78813caf55e0fa,1.733775e+09,0e82b6e649ff
1,5e65022e094349b1bd49122a31cfd85b,1.733775e+09,1,1,NaN,1.733775e+09,0e82b6e649ff
2,70f3dd12f8a84b9c957d30a4474941b8,1.733775e+09,1,1,NaN,1.733775e+09,0e82b6e649ff
3,c9d95fdd312e4ba5a70215b076654336,1.733775e+09,2,2,9cf37ec9318e44038adddf16e5adc047,1.733775e+09,0e82b6e649ff
4,5e65022e094349b1bd49122a31cfd85b,1.733775e+09,1,1,NaN,1.733775e+09,0e82b6e649ff

In [25]:
dfs[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1731 entries, 0 to 1730
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   node            1731 non-null   object
 1   time            1731 non-null   float64
 2   type            1731 non-null   int64
 3   change          1731 non-null   int64
 4   additionalData  676 non-null    object
 5   timestamp       1731 non-null   float64
 6   onNode          1731 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 94.8+ KB

In [26]:
df = pd.concat(dfs)
df.head()

,node,time,type,change,additionalData,timestamp,onNode
0,b32386a5f44840ce991e8c395c960874,1.733775e+09,2,2,171de2281f8346539a78813caf55e0fa,1.733775e+09,0e82b6e649ff
1,5e65022e094349b1bd49122a31cfd85b,1.733775e+09,1,1,NaN,1.733775e+09,0e82b6e649ff
2,70f3dd12f8a84b9c957d30a4474941b8,1.733775e+09,1,1,NaN,1.733775e+09,0e82b6e649ff
3,c9d95fdd312e4ba5a70215b076654336,1.733775e+09,2,2,9cf37ec9318e44038adddf16e5adc047,1.733775e+09,0e82b6e649ff
4,5e65022e094349b1bd49122a31cfd85b,1.733775e+09,1,1,NaN,1.733775e+09,0e82b6e649ff

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9927 entries, 0 to 1271
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   node            9927 non-null   object
 1   time            9927 non-null   float64
 2   type            9927 non-null   int64
 3   change          9927 non-null   int64
 4   additionalData  4732 non-null   object
 5   timestamp       9927 non-null   float64
 6   onNode          9927 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 620.4+ KB

In [28]:
df['concatenated'] = df['node'].astype(str) + ':' + df['type'].astype(str) + ':' + df['change'].astype(str) + ':' + df['additionalData'].astype(str)
df.drop(columns=['node', 'type', 'change', 'additionalData'], inplace=True)
df.head()

,time,timestamp,onNode,concatenated
0,1.733775e+09,1.733775e+09,0e82b6e649ff,b32386a5f44840ce991e8c395c960874:2:2:171de2281...
1,1.733775e+09,1.733775e+09,0e82b6e649ff,5e65022e094349b1bd49122a31cfd85b:1:1:nan
2,1.733775e+09,1.733775e+09,0e82b6e649ff,70f3dd12f8a84b9c957d30a4474941b8:1:1:nan
3,1.733775e+09,1.733775e+09,0e82b6e649ff,c9d95fdd312e4ba5a70215b076654336:2:2:9cf37ec93...
4,1.733775e+09,1.733775e+09,0e82b6e649ff,5e65022e094349b1bd49122a31cfd85b:1:1:nan

In [ ]:
df.drop(columns=['timestamp'], inplace=True)
df.head()

,time,onNode,concatenated
0,1.733775e+09,0e82b6e649ff,b32386a5f44840ce991e8c395c960874:2:2:171de2281...
1,1.733775e+09,0e82b6e649ff,5e65022e094349b1bd49122a31cfd85b:1:1:nan
2,1.733775e+09,0e82b6e649ff,70f3dd12f8a84b9c957d30a4474941b8:1:1:nan
3,1.733775e+09,0e82b6e649ff,c9d95fdd312e4ba5a70215b076654336:2:2:9cf37ec93...
4,1.733775e+09,0e82b6e649ff,5e65022e094349b1bd49122a31cfd85b:1:1:nan

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9927 entries, 0 to 1271
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   time          9927 non-null   float64
 1   onNode        9927 non-null   object
 2   concatenated  9927 non-null   object
dtypes: float64(1), object(2)
memory usage: 310.2+ KB

In [32]:
len(df['concatenated'].unique())

684

In [33]:
df.set_index(['concatenated', 'onNode'], inplace=True)
df.head()

                                                                         time
concatenated                                       onNode
b32386a5f44840ce991e8c395c960874:2:2:171de2281f... 0e82b6e649ff  1.733775e+09
5e65022e094349b1bd49122a31cfd85b:1:1:nan           0e82b6e649ff  1.733775e+09
70f3dd12f8a84b9c957d30a4474941b8:1:1:nan           0e82b6e649ff  1.733775e+09
c9d95fdd312e4ba5a70215b076654336:2:2:9cf37ec931... 0e82b6e649ff  1.733775e+09
5e65022e094349b1bd49122a31cfd85b:1:1:nan           0e82b6e649ff  1.733775e+09

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9927 entries, ('b32386a5f44840ce991e8c395c960874:2:2:171de2281f8346539a78813caf55e0fa', '0e82b6e649ff') to ('5b1ba4635b8d4f128162e7131705efc6:2:2:24ce83f277a84ebc8509859c3354c580', 'da7521745bf5')
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    9927 non-null   float64
dtypes: float64(1)
memory usage: 128.6+ KB

In [36]:
df[df['time'] > 1733774784]

                                                                         time
concatenated                                       onNode
b32386a5f44840ce991e8c395c960874:2:2:171de2281f... 0e82b6e649ff  1.733775e+09
5e65022e094349b1bd49122a31cfd85b:1:1:nan           0e82b6e649ff  1.733775e+09
70f3dd12f8a84b9c957d30a4474941b8:1:1:nan           0e82b6e649ff  1.733775e+09
c9d95fdd312e4ba5a70215b076654336:2:2:9cf37ec931... 0e82b6e649ff  1.733775e+09
5e65022e094349b1bd49122a31cfd85b:1:1:nan           0e82b6e649ff  1.733775e+09
...                                                                       ...
c9d95fdd312e4ba5a70215b076654336:2:2:fb6dc2d4d2... da7521745bf5  1.733776e+09
b43fbba2822044659ad8b30b0939028d:2:2:bb6a3672fd... da7521745bf5  1.733776e+09
70f3dd12f8a84b9c957d30a4474941b8:1:1:nan           da7521745bf5  1.733776e+09
ea5fc0046bd846669381b6f9cfe8ce8a:1:1:nan           da7521745bf5  1.733776e+09
5b1ba4635b8d4f128162e7131705efc6:2:2:24ce83f277... da7521745bf5  1.733776e+09

[9927 rows x 1 columns]